@{
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}
<h1> &nbsp &nbsp &nbsp Performance Chart</h1>
@model int[]
<html>
<body>
	<div id="chartdiv" style="width: 640px; height: 400px;"></div>
</body>
</html>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script>
	var chartData = [];
	var i = 0;
@foreach (var item in Model)
{
	@:chartData.push({ "difference": "@item", "benchmark": ++i});
}
</script>
<script>
	AmCharts.makeChart("chartdiv", {
		"type": "serial",
		"dataProvider": chartData,
		"categoryField": "benchmark",
		"chartCursor": {
			"categoryBalloonEnabled": true,
			"valueLineAxis": "ValueAxis-1",
			"valueLineBalloonEnabled": true,
			"valueLineEnabled": true,
			"balloonText": "[[difference]]",
			"showBalloon": true,
			"zoomable": true
		},
		"mouseWheelZoomEnabled": true,
		"graphs": [{
			"valueField": "difference",
			"useNegativeColorIfDown": true,
			"lineColor": "#fdd400",
			"negativeLineColor": "#67b7dc",
			"type": "line",
			"fillAlphas": 0.5,
			"bullet": "round",
			"angle": 30,
			"depth3D": 15,
			"balloonText": "[[difference]]"
		}],
		"chartScrollbar": {
			"scrollbarHeight": 5,
			"backgroundAlpha": 0.1,
			"backgroundColor": "#868686",
			"selectedBackgroundColor": "#67b7dc",
			"selectedBackgroundAlpha": 1
		},
		"chartCursor": {
			"valueLineEnabled": true,
			"valueLineBalloonEnabled": true
		},
		"categoryAxis": {
			"autoGridCount": false,
			"gridCount": chartData.length,
			"gridPosition": "start"
		}
	});
	chart.addListener("dataUpdated", zoomChart);
	//zoomChart();

	function zoomChart() {
		if (chart.zoomToIndexes) {
			chart.zoomToIndexes(130, chartData.length - 1);
		}
	}
</script>
